{{template "base" .}}

{{define "main"}}

{{with .Form}}
  <form action="/create" method="POST">
    {{$.CSRFField}}
    <div class="field">
      <label class="label">Image URL</label>
      <div class="control">
        <input class="input {{if index .Errors "image-url"}} is-danger {{end}}"
        type="text" name="image-url" />
      </div>
      {{range index .Errors "image-url"}}
        <p class="help is-danger">{{.}}</p>
      {{end}}
    </div>
    <div class="field">
      <div class="control">
        <input class="button is-primary" type="submit" value="Create" />
      </div>
    </div>
  </form>
{{end}}

{{end}}
