{{template "base" .}}

{{define "main"}}

{{with .Form}}
  <form action="/login" method="POST">
    {{$.CSRFField}}
    <div class="field">
      <label class="label">Username</label>
      <div class="control">
        <input class="input {{if or (index .Errors "username") (index .Errors "login")}} is-danger {{end}}"
        type="text" name="username" />
      </div>
      {{range index .Errors "username"}}
        <p class="help is-danger">{{.}}</p>
      {{end}}
    </div>
    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input {{if or (index .Errors "password") (index .Errors "login")}} is-danger {{end}}"
        type="password" name="password" />
      </div>
      {{range index .Errors "password"}}
        <p class="help is-danger">{{.}}</p>
      {{end}}
      {{range index .Errors "login"}}
        <p class="help is-danger">{{.}}</p>
      {{end}}
    </div>
    <div class="field">
      <div class="control">
        <input class="button is-primary" type="submit" value="Log In" />
      </div>
    </div>
  </form>
{{end}}

{{end}}
