{{template "base" .}}

{{define "main"}}

{{if .Pins}}
  <div class="grid">
    {{range .Pins}}
      <div class="box grid-item pin-size">
        <img class="pin-size" src="{{.ImageURL}}" onerror="handleImgErr(this);" />
        <p>Pinned by <a class="has-text-primary" href="/user/{{.Username}}">{{.Username}}</a></p>
      </div>
    {{end}}
  </div>
{{else}}
  <p>No pins yet...</p>
{{end}}

{{end}}
